<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/CSS/signUp.css">
</head>
<body>
    <form action="/member/signup" method="post">
    이름  : <input type="text" name="memberName" placeholder="이름을 입력해주세요." autofocus><br>
    ID : <input type="text" name="memberId" placeholder="ID를 입력해주세요."><br>
    Password : <input type="password" name="memberPw" placeholder="비밀번호를 입력해주세요."><br>
    Phone : <input type="tel" name="memberPhone" placeholder="ex)01012345678"><br>
    <input type="submit" value="회원가입">
    </form>
</body>

</html>